/*****************************************************/
/*                 main responsive                   */
/*****************************************************/
  body,
  .under-body,*{
      box-sizing: border-box;
      font-size: 1.8rem;
      font-weight: bold;
      color: #fff ;
  } 
  body{
    overflow-x: hidden;
  } 
  ul{
    list-style: none;
  }
  .drop{
    display: block !important;
  }  
/*****************************************************/
/*           .under-body and main div                */
/*****************************************************/
.under-body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden !important;
  display: flex;
  justify-content: center;
}
.under-body div{
  width: 100%;
  min-height: 100%;
  max-width: 900px;
  background: #4fb3aa;
  background: #000;
  padding: 20px 20px 40px 20px;
  margin: 0 auto;
 }
/*****************************************************/
/*                reset - h3                         */
/*****************************************************/
 h3{
  text-align: center;
  opacity: .5;
  margin-top: 0;
}
#Reset{
background: transparent;
} 
/*****************************************************/
/*                radio-form                         */
/*****************************************************/
 label, button {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;   
        cursor: pointer;  
        outline: none;
        border: none;
 }
 label{
    margin-bottom: 30px !important;
    margin-right: 8px;
 }
 label:last-child{
  margin-bottom: 0px !important;
 }
/*****************************************************/
/*                am-form                            */
/*****************************************************/
#am {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  display: none;
}
 #m , #f{
    font-size: 4rem;
    margin:0;
    color: #1a4ad2;
 } 
 #m{
  color: green;
 }      
.radio-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 }      
.radio-form > * {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
} 
.radio-form > *:nth-of-type(1){
  padding-left:  7px;
}
input[type = "radio"] { display: none; }
/*****************************************************/
/*                inp and p                          */
/*****************************************************/
input:not(input[type = "radio"]),p{
  width: 90%;
  padding: 15px;
  font-size: clamp(1.4rem, 3vw, 1.5rem);
  display: block;
  outline: none;
  border-radius: 20px;
  border: .5px solid transparent;
}
input:not(input[type = "radio"]){
  background: #a2d2d0;
}
#inp{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  min-height: 500px;
  margin-top: 100px;
}
#inp * {
  border-radius: 30px;
  color: #000 !important;
  font-size: 1.7rem;
}
/*****************************************************/
/*               contiue p                           */       */
/*****************************************************/
p , #result {
  background: transparent !important;
  color: #fff;
}
#result {
  display: none;
  text-align: center;
}

#moreI,#art{
  display: none;
}
#moreI{
    margin: 10px auto;
}
#Button {
  color: #000;
}
/*****************************************************/
/*                media query                        */                                   
/*****************************************************/
@media only screen and (min-width: 1020px) {
  #inp {
    margin-top: 50px;
    max-height: 500px;
  }
  #inp * {
    padding:20px;
    border-radius: 30px;
    font-size: 1.7rem;
  }
}
/***********************/
@media only screen and (max-width: 700px) {
  *{
    font-size: 1.3rem;
  }
  #inp *{
    font-size: 1.7rem;
  }
}
/**************************************************/
